img.img-i18n(src="https://dl.dropboxusercontent.com/u/16972085/cosecha/trump-english.png", alt="#BuiltByUs", style="width:100%;height:auto;",  data-src="bbu-img")

div(style="margin:30px 30px;")
	p.i18n(data-say="bbu-p1") Thirty- five years ago, Trump Tower was built by 200 undocumented immigrants paid $5 a day, if that! Despite having relied on our labor to make his millions, Donald Trump has the audacity to base his presidential platform on hate, racism, and ignorance against the immigrant community. Cosecha is here to highlight the hypocrisy of the anti-immigrant sentiment that is resonating with the American public in the moments leading up to the 2016 November elections. Trump is not the first, and won’t be the last, public figure to make a political career based on the scapegoating of immigrant communities. Cosecha is here to channel the fear and frustration existent within the immigrant community into action. We want to send the American public a message: this country was built by us, so we will use our labor and consumer power to demand permanent protection, dignity, and respect for our immigrant community. 

	h3.i18n(data-say="bbu-h1", style="text-align:center;") Immigrants Confront Trump & Reclaim Dignity

	p.i18n(data-say="bbu-p2") On August 31, 2016, ten immigrants led a civil disobedience at Trump Tower to send the message that the tower, and this country, was #BuiltByUs. We are the pillars that holds this country up, and without us, it will fall. As immigrants, we feel a burning indignation when we listen to politicians, the media, and Trump supporters give reasons why we should be deported; why our families should be separated; why our contributions to this country hold no value. We can no longer be silent as we listen to hatred and xenophobia in the airwaves. Instead, Cosecha will amplify the voices of our people-- of our struggles, pains, and hope for the future to reclaim dignity & respect for ourselves and win permanent protection for our people.

	h3.i18n(data-say="bbu-h2") Stand with Cosecha as we lead a national public confrontation against hate, racism, and xenophobia.

	div(style="text-align:center;")
		br
		a.btn.btn-primary.i18n(href="https://actionnetwork.org/forms/join-the-cosecha-movement-unete-a-nuestro-movimiento", data-say="bbu-btn-1") Join Our Movement
		br
		br
		a.btn.btn-primary.i18n(href="https://actionnetwork.org/forms/i-pledge-to-risk-arrest-for-cosecha-comprometete-a-arriesgar-el-arresto-por-cosecha", data-say="bbu-btn-2") Pledge to Risk Arrest for Cosecha
		br
		br
		a.btn.btn-primary.i18n(href="https://actionnetwork.org/forms/sign-up-for-a-training-apuntese-para-un-entrenamiento", data-say="bbu-btn-3") Sign Up to an Anti-Trump Initiation Training
		br
		br
		a.btn.btn-primary.i18n(href="http://movimientocosecha.com/villages", data-say="bbu-btn-4") Contact Us
		br
		br
		a.btn.btn-primary.i18n(href="https://www.generosity.com/emergencies-fundraising/cosecha-arrest-support-apoyo-de-arresto", data-say="bbu-btn-5") Donate
