
// Header
header(style="")
	#particleground(style="position:absolute;top:0px;width:100%;height:100%;z-index:0;")  
	.container
		.row
			.col-lg-12
				img.img-responsive(src='img/profile.png', alt='')
				.intro-text
					span.name.color-secondary.i18n(data-say="Cosecha_Movement")
					hr.star-light.star-light2
					span.skills.i18n(data-say="sub_title")
					




section#plan
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-say="cosecha_plan")
		.row
			.col-lg-12
				img.img-responsive.img-i18n(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:160505-strategy-phases-es.jpg" data-src="img_cosecha_plan")


include _partials/principios.jade


section#estructura
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-say="cosecha_structure")
		.row
			.col-lg-12
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/firstactions-01.png" data-src="img_cosecha_structure")

section#historia.gray
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-say="history")
				//- hr.star-primary
		.row
			.col-lg-12
				p.i18n(data-say="history_1")
				p.i18n(data-say="history_2")
				p.i18n(data-say="history_3")
				p.i18n(data-say="history_4")
				p.i18n(data-say="history_5")
				p.i18n(data-say="history_6")
				p.i18n(data-say="history_7")

// Contact Section
section#unete
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-say="join_us")
				hr.star-primary
		.row
			.col-sm-3.text-center
				h3.i18n(data-say="be_a_monthly_sustainer")
				a.btn.btn-primary.i18n(href="https://actionnetwork.org/fundraising/become-a-cosecha-sustainer-conviertete-en-un-sponsor-de-cosecha-2" target="_blank" data-say="click_here")
			.col-sm-3.text-center
				h3.i18n(data-spanish="Empieza Cosecha en Tu Ciudad" data-english="Start Cosecha in your City") Empieza Cosecha en Tu Ciudad
				a.btn.btn-primary.i18n(href="http://wiki.movimientocosecha.com/doku.php" data-say="click_here" target="_blank")
			.col-sm-3.text-center
				h3.i18n(data-say="become_a_friend_of_cosecha" )
				a.btn.btn-primary.i18n(href="https://docs.google.com/forms/d/1tj7RRbO672p0DppR5BV9tbUPavZeQpa4ydcgEnBC-Os/viewform" data-say="click_here" target="_blank")
			.col-sm-3.text-center
				h3.i18n(data-say="buy_from_the_cosecha_store")
				a.btn.btn-primary.i18n(href="https://store.movimientocosecha.com/" data-say="click_here" target="_blank")
		hr
		.row
			.col-lg-12.text-center
				h2.i18n(data-say="sign_up")
		.row
			.col-lg-8.col-lg-offset-2
				link(href='https://actionnetwork.org/css/style-embed.css', rel='stylesheet', type='text/css')
				script.
					window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\/script>');
				script(src='https://actionnetwork.org/widgets/v2/form/get-the-cosecha-dna-in-your-email-2?format=js&source=widget&style=full')
				#can-form-area-get-the-cosecha-dna-in-your-email-2(style='width: 100%')
				// this div is the target for our HTML insertion

section#faq.light-gray-bg
	.container
		.row
			.col-lg-12
				h2 Frequently Asked Questions
			.col-lg-12
				ul#faq-list
					li.page-scroll
						a.i18n(href="#faq1", data-say="faq1-q") What does Cosecha aim to achieve? 
					li.page-scroll
						a.i18n(href="#faq2", data-say="faq2-q") Why do we need a movement for permanent protection, respect, and dignity, for all immigrants?
					li.page-scroll
						a.i18n(href="#faq3", data-say="faq3-q") How is Cosecha different from other immigrant rights movements or organizations? 
					li.page-scroll
						a.i18n(href="#faq4", data-say="faq4-q") Are there past or current movements that Cosecha's model is based on? 
						// start here
					li.page-scroll
						a.i18n(href="#faq5", data-say="faq5-q") Why did Cosecha open its first house in Boston?
					li.page-scroll
						a.i18n(href="#faq6", data-say="faq6-q") What milestones has Cosecha achieved so far?
					li.page-scroll
						a.i18n(href="#faq7", data-say="faq7-q") Who are volunteer organizers? 
					li.page-scroll
						a.i18n(href="#faq8", data-say="faq8-q") Why isn’t Cosecha a 501c(3)? 
					li.page-scroll
						a.i18n(href="#faq9", data-say="faq9-q") How can I make a contribution?
					li.page-scroll
						a.i18n(href="#faq10", data-say="faq10-q") How will my contribution be used?
					li.page-scroll
						a.i18n(href="#faq11", data-say="faq11-q") How can I learn more about movement building?
					li.page-scroll
						a.i18n(href="#faq12", data-say="faq12-q") How can I stay involved?

			.col-lg-12
				h4#faq1.i18n(data-say="faq1-q")
				p.i18n(data-say="faq1-a-1") 

				p.i18n(data-say="faq1-a-2")

				hr

				h4#faq2.i18n(data-say="faq2-q")
				p.i18n(data-say="faq2-a-1")

				hr

				h4#faq3.i18n(data-say="faq3-q")
				p.i18n(data-say="faq3-a-1")

				hr 

				h4#faq4.i18n(data-say="faq4-q") 
				p.i18n(data-say="faq4-a-1")

				hr

				h4#faq5.i18n(data-say="faq5-q")
				p.i18n(data-say="faq5-a-1")

				hr

				h4#faq6.i18n(data-say="faq6-q")
				p.i18n(data-say="faq6-a-1")

				hr 

				h4#faq7.i18n(data-say="faq7-q")
				p.i18n(data-say="faq7-a-1")

				hr 

				h4#faq8.i18n(data-say="faq8-q")
				p.i18n(data-say="faq8-a-1") 

				hr

				h4#faq9.i18n(data-say="faq9-q")
				p.i18n(data-say="faq9-a-1")

				hr

				h4#faq10.i18n(data-say="faq10-q")
				p.i18n(data-say="faq10-a-1")

				hr

				h4#faq11.i18n(data-say="faq11-q")
				p.i18n(data-say="faq11-a-1")

				hr

				h4#faq12.i18n(data-say="faq12-q")
				p.i18n(data-say="faq12-a-1")

				p.i18n(data-say="faq12-a-2")

				p.i18n(data-say="faq12-a-3")

a#portfolioModal15link(href='#portfolioModal15', data-toggle='modal', style="position:absolute;top:-10000px;left:-100000px;")

#portfolioModal15.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content(style="background-color:rgba(250,250,250,0.93)!important;")
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Sign up for Updates on Cosecha
						hr
						br

						link(href='https://actionnetwork.org/css/style-embed.css', rel='stylesheet', type='text/css')
						script.
							window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\\/script>');
						script(src='https://actionnetwork.org/widgets/v2/form/join-the-cosecha-movement-unete-a-nuestro-movimiento?format=js&source=widget')
						#can-form-area-join-the-cosecha-movement-unete-a-nuestro-movimiento(style='width: 100%')
							// this div is the target for our HTML insertion
						br
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")
