section.container
  h1 Villages
  div.map-embed
    iframe(src='https://www.google.com/maps/d/u/0/embed?mid=1arUVmRitb0wTg4elbjlEy92UEvQ', width='640', height='480', style="width:100%;")
    
  div.villages-list
    h3 Cosecha Boston
      p.facebook
        a(href="https://www.facebook.com/Cosecha-Boston-1556829431283763", target="_blank") https://www.facebook.com/Cosecha-Boston-1556829431283763
    
    h3 Cosecha Lawrence
      p.facebook
        a(href="https://www.facebook.com/Cosechalawrence", target="_blank") https://www.facebook.com/Cosechalawrence
