
// Header
header(style="")
	.container
		.row
			.col-lg-12
				img.img-responsive(src='img/profile.png', alt='')
				.intro-text
					span.name.color-secondary.i18n(data-spanish="Movimiento Cosecha" data-english="Cosecha Movement") Movimiento Cosecha
					hr.star-light.star-light2
					span.skills.i18n(data-spanish="ESTAMOS LUCHANDO PARA UNA PROTECCIÓN PERMANENTE, DIGNIDAD, Y RESPETO PARA LA COMUNIDAD INMIGRANTE" data-english="WE ARE FIGHTING FOR PERMANENT PROTECTION, DIGNITY AND RESPECT FOR OUR UNODUCEMTED IMMIGRANT COMMUNITY") ESTAMOS LUCHANDO PARA UNA PROTECCIÓN PERMANENTE, DIGNIDAD, Y RESPETO PARA LA COMUNIDAD INMIGRANTE




section#plan
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-spanish="El Plan Cosecha" data-english="The Cosecha Strategy") El Plan Cosecha
		.row
			.col-lg-12
				img.img-responsive.img-i18n(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:160505-strategy-phases-es.jpg" data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:160505-strategy-phases-es.jpg" data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:160413-strategy-phases.jpg")


include _partials/principios.jade


section#estructura
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-spanish="Estructura de Cosecha", data-english="Cosecha Structure") Estructura de Cosecha
		.row
			.col-lg-12
				img.img-responsive.img-i18n(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:estructura-cosecha.jpg" data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:estructura-cosecha.jpg" data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:cosecha-structure.jpg")

section#historia.gray
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-spanish="Historia" data-english="Our Story") Historia
				//- hr.star-primary
		.row
			.col-lg-12
				p.i18n(data-spanish="Tomamos un a&ntilde;o y medio formulando y poniendo a prueba una estrategia no-violenta para el movimiento de derechos de inmigrantes a este pais." data-english="We spent a year and a half thinking about and testing the right nonviolent strategy for the immigrant rights movement in this country.") Tomamos un a&ntilde;o y medio formulando y poniendo a prueba una estrategia no-violenta para el movimiento de derechos de inmigrantes a este pais.
				p.i18n(data-spanish="Lanzamos este movimiento con un entrenamiento nacional en Wisconsin en Julio del 2015. Desde entonces, hemos crecido enormemente y acabamos de tener nuestra primera Asamblea Nacional este Mayo 2016. Estamos en Arizona, California, Florida, Massachusetts, Nueva Jersey, North Carolina, Pennsylvania, Texas, y Wisconsin." data-english="We launched our movement with a national training in Wisconsin in July. Since then, we've grown enormously and just had the first Cosecha National Assembly in May 2016! We're now in Arizona, California, Florida, Massachusetts, New Jersey, North Carolina, Pennsylvania, Texas, and Wisconsin.") Lanzamos este movimiento con un entrenamiento nacional en Wisconsin en Julio del 2015. Desde entonces, hemos crecido enormemente y acabamos de tener nuestra primera Asamblea Nacional este Mayo 2016. Estamos en Arizona, California, Florida, Massachusetts, Nueva Jersey, North Carolina, Pennsylvania, Texas, y Wisconsin.

// Contact Section
section#unete
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-spanish="Unete" data-english="Join Us") Unete
				hr.star-primary
		.row
			.col-sm-3.text-center
				h3.i18n(data-spanish="Apoya a Sostener Cada Mes" data-english="Become a Monthly Sustainer") Apoya a Sostener Cada Mes
				a.btn.btn-primary.i18n(href="https://actionnetwork.org/fundraising/become-a-cosecha-sustainer-conviertete-en-un-sponsor-de-cosecha-2" data-spanish="Haz Click Aqui" data-english="Click Here" target="_blank") Haz Click Aqui
			.col-sm-3.text-center
				h3.i18n(data-spanish="Empieza Cosecha en Tu Ciudad" data-english="Start Cosecha in your City") Empieza Cosecha en Tu Ciudad
				a.btn.btn-primary.i18n(href="http://wiki.movimientocosecha.com/doku.php" data-spanish="Haz Click Aqui" data-english="Click Here" target="_blank") Haz Click Aqui
			.col-sm-3.text-center
				h3.i18n(data-spanish="Hazte Amigo de Cosecha" data-english="Become a friend of Cosecha") Hazte Amigo de Cosecha
				a.btn.btn-primary.i18n(href="https://docs.google.com/forms/d/1tj7RRbO672p0DppR5BV9tbUPavZeQpa4ydcgEnBC-Os/viewform" data-spanish="Haz Click Aqui" data-english="Click Here" target="_blank") Haz Click Aqui
			.col-sm-3.text-center
				h3.i18n(data-spanish="Compra de la Tienda Cosecha" data-english="Buy from the Cosecha Store") Compra de la Tienda Cosecha
				a.btn.btn-primary.i18n(href="https://store.movimientocosecha.com/" data-spanish="Haz Click Aqui" data-english="Click Here" target="_blank") Haz Click Aqui
		hr
		.row
			.col-lg-12.text-center
				h2.i18n(data-spanish="Inscribite" data-english="Sign Up") Inscribite
		.row
			.col-lg-8.col-lg-offset-2
				link(href='https://actionnetwork.org/css/style-embed.css', rel='stylesheet', type='text/css')
				script.
					window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\/script>');
				script(src='https://actionnetwork.org/widgets/v2/form/get-the-cosecha-dna-in-your-email-2?format=js&source=widget&style=full')
				#can-form-area-get-the-cosecha-dna-in-your-email-2(style='width: 100%')
				// this div is the target for our HTML insertion
