
// Header
header(style="")
	.container
		.row
			.col-lg-12
				img.img-responsive(src='img/profile.png', alt='')
				.intro-text
					span.name.color-secondary.i18n(data-say="Cosecha_Movement")
					hr.star-light.star-light2
					span.skills.i18n(data-say="sub_title")




section#plan
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-say="cosecha_plan")
		.row
			.col-lg-12
				img.img-responsive.img-i18n(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:160505-strategy-phases-es.jpg" data-src="img_cosecha_plan")


include _partials/principios.jade


section#estructura
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-say="cosecha_structure")
		.row
			.col-lg-12
				img.img-responsive.img-i18n(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:estructura-cosecha.jpg" data-src="img_cosecha_structure")

section#historia.gray
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-say="history")
				//- hr.star-primary
		.row
			.col-lg-12
				p.i18n(data-say="history_1")
				p.i18n(data-say="history_2")
				p.i18n(data-say="history_3")
				p.i18n(data-say="history_4")
				p.i18n(data-say="history_5")
				p.i18n(data-say="history_6")
				p.i18n(data-say="history_7")

// Contact Section
section#unete
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-say="join_us")
				hr.star-primary
		.row
			.col-sm-3.text-center
				h3.i18n(data-say="be_a_monthly_sustainer")
				a.btn.btn-primary.i18n(href="https://actionnetwork.org/fundraising/become-a-cosecha-sustainer-conviertete-en-un-sponsor-de-cosecha-2" target="_blank" data-say="click_here")
			.col-sm-3.text-center
				h3.i18n(data-spanish="Empieza Cosecha en Tu Ciudad" data-english="Start Cosecha in your City") Empieza Cosecha en Tu Ciudad
				a.btn.btn-primary.i18n(href="http://wiki.movimientocosecha.com/doku.php" data-say="click_here" target="_blank")
			.col-sm-3.text-center
				h3.i18n(data-say="become_a_friend_of_cosecha" )
				a.btn.btn-primary.i18n(href="https://docs.google.com/forms/d/1tj7RRbO672p0DppR5BV9tbUPavZeQpa4ydcgEnBC-Os/viewform" data-say="click_here" target="_blank")
			.col-sm-3.text-center
				h3.i18n(data-say="buy_from_the_cosecha_store")
				a.btn.btn-primary.i18n(href="https://store.movimientocosecha.com/" data-say="click_here" target="_blank")
		hr
		.row
			.col-lg-12.text-center
				h2.i18n(data-say="sign_up")
		.row
			.col-lg-8.col-lg-offset-2
				link(href='https://actionnetwork.org/css/style-embed.css', rel='stylesheet', type='text/css')
				script.
					window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\/script>');
				script(src='https://actionnetwork.org/widgets/v2/form/get-the-cosecha-dna-in-your-email-2?format=js&source=widget&style=full')
				#can-form-area-get-the-cosecha-dna-in-your-email-2(style='width: 100%')
				// this div is the target for our HTML insertion

a#portfolioModal15link(href='#portfolioModal15', data-toggle='modal', style="position:absolute;top:-10000px;left:-100000px;")

#portfolioModal15.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content(style="background-color:rgba(250,250,250,0.93)!important;")
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="sign_the_petition")
						hr
						br

						link(href='https://actionnetwork.org/css/style-embed.css', rel='stylesheet', type='text/css')
						script.
							window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\\/script>');
						script(src='https://actionnetwork.org/widgets/v2/petition/basta-con-la-politica-yo-me-comprometo-a-luchar-para-una-proteccion-permanente-para-los-11-millones?format=js&source=widget')
						#can-petition-area-basta-con-la-politica-yo-me-comprometo-a-luchar-para-una-proteccion-permanente-para-los-11-millones(style='width: 100%')
							// this div is the target for our HTML insertion
						br
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")
