
// Header
header
	.container
		.row
			.col-lg-12
				img.img-responsive(src='img/profile.png', alt='')
				.intro-text
					span.name.color-secondary Movimiento Cosecha
					hr.star-light.star-light2
					span.skills Dignidad - Respeto - Proteccion Permanente



section#plan
	.container
		//- .row
		//- 	.col-lg-12.text-center
		//- 		h2 El Plan Cosecha
		.row
			.col-lg-12
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:160505-strategy-phases-es.jpg")

section#principios.success
	.container
		.row
			.col-lg-12.text-center
				h2 Principios de Cosecha
		.row
			.col-md-4.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-01.jpg")
			.col-md-4.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-02.jpg")
			.col-md-4.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-03.jpg")
			.col-md-4.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-04.jpg")
			.col-md-4.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-05.jpg")
			.col-md-4.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-06.jpg")
			.col-md-4.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-07.jpg")
			.col-md-4.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-08.jpg")
			.col-md-4.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-09.jpg")
			.col-md-4.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-10.jpg")
			.col-md-4.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-11.jpg")
			.col-md-4.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-12.jpg")
			.col-md-6.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-13.jpg")
			.col-md-6.col-sm-6.img-principle
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-14.jpg")

section#estructura
	.container
		//- .row
		//- 	.col-lg-12.text-center
		//- 		h2 Estructura
		.row
			.col-lg-12
				img.img-responsive(src="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:estructura-cosecha.jpg")

section#historia.gray
	.container
		.row
			.col-lg-12.text-center
				h2 Historia
				//- hr.star-primary
		.row
			.col-lg-12
				p
					| We spent a year and a half thinking about and testing the right nonviolent strategy for the migrant rights movement in this country.
				p
					| We launched our movement with a national training in Wisconsin in July. Since then, we've doubled in size! We're now in Arizona, California, Florida, Massachusetts, New Jersey, North Carolina, Pennsylvania, Texas, and Wisconsin.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem non voluptas temporibus obcaecati iusto impedit, voluptatum reiciendis nostrum ea officiis veniam! Minima vero accusantium mollitia perferendis voluptas sunt rem illo perspiciatis aliquam, sequi inventore molestiae commodi facilis repellat excepturi voluptatibus nemo a magni veritatis itaque nam, tempora blanditiis impedit? Beatae.
			//
				<div class="col-lg-8 col-lg-offset-2 text-center">
				<a href="http://portal.movimientocosecha.com" class="btn btn-lg btn-success">
				<i class="fa fa-download"></i> See the Strategy
				</a>
				</div>

// Contact Section
section#unete
	.container
		.row
			.col-lg-12.text-center
				h2 Unete
				hr.star-primary
		.row
			.col-sm-3.text-center
				h3 Apoya a Sostener Cada Mes
				a.btn.btn-primary(href="#") Click Here
			.col-sm-3.text-center
				h3 Empieza Cosecha en Tu Ciudad
				a.btn.btn-primary(href="#") Click Here
			.col-sm-3.text-center
				h3 Hazte Amig@ de Cosecha
				a.btn.btn-primary(href="#") Click Here
			.col-lg-3.text-center
				h3 Compra de la Tienda Cosecha
				a.btn.btn-primary(href="#") Click Here
		hr
		.row
			.col-lg-12.text-center
				h2 Inscribite
		.row
			.col-lg-8.col-lg-offset-2
				link(href='https://actionnetwork.org/css/style-embed.css', rel='stylesheet', type='text/css')
				script.
					window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\/script>');
				script(src='https://actionnetwork.org/widgets/v2/form/get-the-cosecha-dna-in-your-email-2?format=js&source=widget&style=full')
				#can-form-area-get-the-cosecha-dna-in-your-email-2(style='width: 100%')
				// this div is the target for our HTML insertion
