// Footer
footer.text-center
	.footer-above
		.container
			.row
				.footer-col.col-md-12
					h3 Around the Web
					ul.list-inline
						li
							a.btn-social.btn-outline(href='https://www.facebook.com/movimientocosecha/', target="_blank")
								i.fa.fa-fw.fa-facebook
						li
							a.btn-social.btn-outline(href='https://twitter.com/cosecha_harvest', target="_blank")
								i.fa.fa-fw.fa-twitter
						li
							a.btn-social.btn-outline(href='https://www.youtube.com/channel/UCC5KyyXPFaxfAbtxcXIIN5w', target="_blank")
								i.fa.fa-fw.fa-youtube
						li
							a.btn-social.btn-outline(href='http://wiki.movimientocosecha.com', target="_blank")
								i.fa.fa-fw.fa-book
						li
							a.btn-social.btn-outline(href='https://www.instagram.com/cosecha_harvest/', target="_blank")
								i.fa.fa-fw.fa-instagram


	.footer-below
		.container
			.row
				.col-lg-12
					| Made and coded with &hearts; by undocumented immigrants. 
					a(href='https://github.com/Cosecha/cosecha.github.io', target='_blank') This website is open source, contribute with code here.
// Scroll to Top Button (Only visible on small and extra-small screen sizes)
.scroll-top.page-scroll.visible-xs.visible-sm
	a.btn.btn-primary(href='#page-top')
		i.fa.fa-chevron-up
