// Footer
footer.text-center

	.footer-below
		.container
			.row
				.col-lg-12
					| Made and coded with Love by immigrant youth. 
					a(href='https://github.com/Cosecha/cosecha.github.io', target='_blank') Web Devs and Programmers can help here. :-)
// Scroll to Top Button (Only visible on small and extra-small screen sizes)
.scroll-top.page-scroll.visible-xs.visible-sm
	a.btn.btn-primary(href='#page-top')
		i.fa.fa-chevron-up
