// Navigation
nav.navbar.navbar-default.navbar-fixed-top.cosecha-navbar
	.container
		// Brand and toggle get grouped for better mobile display
		.navbar-header.page-scroll
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.site-logo(href='#page-top')
				img.img-responsive(src="/img/site-logo.png")
		// Collect the nav links, forms, and other content for toggling
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li.hidden
					a(href='#page-top')
				li.page-scroll
					a(href='#plan') El Plan
				li.page-scroll
					a(href='#organizacion') Organizacion
				li.page-scroll
					a(href='#Vision') Vision
				li.page-scroll
					a(href='#participate') Participe
				li.page-scroll
					a(href='http://portal.movimientocosecha.com') Login
		// /.navbar-collapse
		// /.container
