section#principios.gray
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-spanish="Principios de Cosecha" data-english="Cosecha Principles") Principios de Cosecha
		.row
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-01.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-01.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-01.jpg")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-02.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-02.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-02.jpg")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-03.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-03.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-03.jpg")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-04.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-04.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-04.jpg")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-05.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-05.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-05.jpg")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-06.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-06.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-06.jpg")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal7', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-07.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-07.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-07.jpg")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal8', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-08.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-08.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-08.jpg")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal9', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-09.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-09.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-09.jpg")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal10', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-10.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-10.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-10.jpg")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal11', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-11.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-11.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-11.jpg")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal12', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-12.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-12.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-12.jpg")
			.col-md-6.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal13', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-13.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-13.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-13.jpg")
			.col-md-6.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal14', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-14.jpg', alt='', data-spanish="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-14.jpg", data-english="http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:eng-principle-14.jpg")


//========================================
//
//
//- ALL THE MODALS WILL GO HERE 
//
//
//========================================


#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="El mono hace lo que el mono ve." data-english="Monkey see, monkey do") El mono hace lo que el mono ve.
						hr.star-primary
						h4.i18n(data-spanish="Principio 1" data-english="Principle 1") Principio 1
						p.i18n(data-spanish="Dirigimos a través de inspirar y sugerir, nunca por comandar. Nuestros líderes son solo sirvientes de confianza – no gobiernan. Todos tomamos iniciativa y respetamos la de los demás. No se trata de una idea, sino de muchas buenas ideas. Mientras continuamos a vivir o expresar nuestros valores del movimiento, recordamos que los principios vienen antes que las personalidades." data-english="We lead by inspiring and suggesting, never by commanding. Our leaders are but trusty servants; they do not govern. We all take initiative and respect those of others. It’s not about one idea; it’s about many good ideas. As we continue embodying/living out movement values, we remember that principles come before personality.") Dirigimos a través de inspirar y sugerir, nunca por comandar. Nuestros líderes son solo sirvientes de confianza – no gobiernan. Todos tomamos iniciativa y respetamos la de los demás. No se trata de una idea, sino de muchas buenas ideas. Mientras continuamos a vivir o expresar nuestros valores del movimiento, recordamos que los principios vienen antes que las personalidades.
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="Somos una familia sana." data-english="We are all a family") Somos una familia sana.
						hr.star-primary
						h4.i18n(data-spanish="Principio 2" data-english="Principle 2") Principio 2

						p.i18n(data-spanish="Este movimiento da la bienvenida a todos de diferentes países, etnicidades, géneros, orientaciones sexuales, y creencias religiosas y espirituales. Sabemos que la sabiduría de nuestro movimiento viene de las voces que son mas calladas. Como el idioma dominante puede tomar el control del espacio y callar a la gente que no se siente cómoda con las palabras, tenemos la “regla multilingual” que se trata de abrir cada espacio a múltiples idiomas. Operamos en los idiomas que le vienen más fácil a la comunidad." data-english="This movement welcomes everyone from different countries, ethnicities, races, genders, sexual orientations, religious and spiritual beliefs. We know the wisdom of our movement comes from the voices that are often the most silenced. Since the dominant language can take over a space and silence the people who don’t feel comfortable with the words, we have the “multilingual-rule” which is about making every space open to multiple languages. We operate in the languages that come easily to our community.") Este movimiento da la bienvenida a todos de diferentes países, etnicidades, géneros, orientaciones sexuales, y creencias religiosas y espirituales. Sabemos que la sabiduría de nuestro movimiento viene de las voces que son mas calladas. Como el idioma dominante puede tomar el control del espacio y callar a la gente que no se siente cómoda con las palabras, tenemos la “regla multilingual” que se trata de abrir cada espacio a múltiples idiomas. Operamos en los idiomas que le vienen más fácil a la comunidad.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="Esta fiesta no requiere entrada." data-english="There is no cover for this party. ") Esta fiesta no requiere entrada.
						hr.star-primary
						h4.i18n(data-spanish="Principio 3" data-english="Principle 3") Principio 3
						p.i18n(data-spanish="No necesitas permiso para participar en este movimiento. Esto se convierte en una realidad cuando nos fijamos en cómo la “regla de 3 activistas” funciona. La regla dice que cuando 3 personas deciden hacerse activistas en Cosecha, pueden formar un círculo y recibir apoyo completo del movimiento. Tomamos nuestras propias decisiones en nuestros círculos y escogemos participar en las actividades del movimiento que nos emocionan más. Podemos hacer fiesta juntos si seguimos los principios de nuestra Cosecha. No hay código de vestuario para esta fiesta. Nuestro movimiento necesita músicos, artistas, danzantes, creativ@s, madres, hijas, trabajadoras, intelectuales de la calle, poetas, académicos, estudiantes, etc. Animamos tomar riesgos porque la diversidad de nuestra creatividad nos ayudará a encontrar las estrategias, herramientas, acciones y maneras más efectivas de viralizar nuestro movimiento. (Promoción para acciones, atracción para capacitaciones y absorción para unidad.)" data-english="You don’t need permission to participate in this movement. This becomes a reality when we see how our “3-activist rule” works. The rule says that when 3 people decide to become activists in Harvest, they can form a circle and get full support from the movement. We make our own decisions in our circles and we choose to participate in the activities of the movement that we feel most excited about. We can party together as long as we follow the principles of our Harvest. There is no dress code for this party. Our movement needs musicians, artists, dancers, creatives, mothers, daughters, workers, street-intellectuals, poets, academics, students, etc. We encourage risk-taking because the diversity of our creativity will help us find the most effective strategies, tools, actions, and virialization of our movement. Promotion for actions. attraction for trainings and absorption for unity.") No necesitas permiso para participar en este movimiento. Esto se convierte en una realidad cuando nos fijamos en cómo la “regla de 3 activistas” funciona. La regla dice que cuando 3 personas deciden hacerse activistas en Cosecha, pueden formar un círculo y recibir apoyo completo del movimiento. Tomamos nuestras propias decisiones en nuestros círculos y escogemos participar en las actividades del movimiento que nos emocionan más. Podemos hacer fiesta juntos si seguimos los principios de nuestra Cosecha. No hay código de vestuario para esta fiesta. Nuestro movimiento necesita músicos, artistas, danzantes, creativ@s, madres, hijas, trabajadoras, intelectuales de la calle, poetas, académicos, estudiantes, etc. Animamos tomar riesgos porque la diversidad de nuestra creatividad nos ayudará a encontrar las estrategias, herramientas, acciones y maneras más efectivas de viralizar nuestro movimiento. (Promoción para acciones, atracción para capacitaciones y absorción para unidad.)

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="No bailamos con los partidos políticos." data-english="We don’t dance with political parties.") No bailamos con los partidos políticos.
						hr.star-primary
						h4.i18n(data-spanish="Principio 4" data-english="Principle 4") Principio 4
						p.i18n(data-spanish="Estamos cansados de las promesas rotas por parte de los partidos políticos. Quieren nuestros numeros de telefono para sus elecciones, pero nunca nos llaman después de que son elegidos. Nuestro trabajo está en la calle y con la gente — no estamos enfocados en los políticos. Nuestro objetivo es mover el pueblo — solo nos involucramos con políticos y sus apoyadores para hacerles tomar unas vacaciones de su partido. No tenemos representantes o defensores — hablamos por nosotros mismos. Si la clase política (presidente y el congreso) hace una promesa de una ley que garantiza protección permanente, nosotros usaremos la regla de los 60 días, se darán conferencias de prensa en todo el país anunciando esta venta de 60 días para que hagan lo que prometieron, en la fecha del dia 60 si las promesas no han sido cumplidas se resumirá la estrategia de Cosecha, se usarán esos 60 días para prepararnos para darles con más fuerza." data-english="We are tired of broken promises by political parties. They want our phone numbers for their elections but never call us after they’re elected. Our work is on the streets and with the people — we are not focused on politicians. Our target is the people — we will only engage politicians and their supporters to get them to take a leave of absence from their parties. We don’t have external representatives or advocates; we speak for ourselves. If the political leadership(president and congress) make a commitment to pass legislation that might give us permanent protection we will use 60-day rule, the rule is about everyone in Cosecha giving the parties a 60 day deadline in order for them to enact permanent protection if not we continue with the current phase at the 60 day mark regardless of more promises.") Estamos cansados de las promesas rotas por parte de los partidos políticos. Quieren nuestros numeros de telefono para sus elecciones, pero nunca nos llaman después de que son elegidos. Nuestro trabajo está en la calle y con la gente — no estamos enfocados en los políticos. Nuestro objetivo es mover el pueblo — solo nos involucramos con políticos y sus apoyadores para hacerles tomar unas vacaciones de su partido. No tenemos representantes o defensores — hablamos por nosotros mismos. Si la clase política (presidente y el congreso) hace una promesa de una ley que garantiza protección permanente, nosotros usaremos la regla de los 60 días, se darán conferencias de prensa en todo el país anunciando esta venta de 60 días para que hagan lo que prometieron, en la fecha del dia 60 si las promesas no han sido cumplidas se resumirá la estrategia de Cosecha, se usarán esos 60 días para prepararnos para darles con más fuerza.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="Nuestra arma es la no cooperación." data-english="Our weapon is non-cooperation") Nuestra arma es la no cooperación.
						hr.star-primary
						h4.i18n(data-spanish="Principio 5" data-english="Principle 5") Principio 5
						p.i18n(data-spanish="Sabemos que nuestro poder está arraigado en no cooperar en los presentes sistemas políticos, sociales y económicos. Sin manos de obra, no hay labor: no cooperaremos hasta que este país reconozca que depende de nosotr@s." data-english=" We know our power is rooted in non-cooperation with the current political, social and economic systems. Without working hands, there is no labor: we won’t cooperate until this country recognizes it depends on us.") Sabemos que nuestro poder está arraigado en no cooperar en los presentes sistemas políticos, sociales y económicos. Sin manos de obra, no hay labor: no cooperaremos hasta que este país reconozca que depende de nosotr@s.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="Nuestro escudo es la no violencia." data-english="Our shield is nonviolence") Nuestro escudo es la no violencia.
						hr.star-primary
						h4.i18n(data-spanish="Principio 6" data-english="Principle 6") Principio 6

						p.i18n(data-spanish="La no violencia asegura que nuestro movimiento siga viviendo. Es nuestro escudo que muestra los verdaderos responsables de la violencia estatal de la cual nuestra gente sufre todos los días. Es nuestra estrategia para sacar a la luz la injusticia que sufrimos diariamente. Aunque sigamos sintiendo dolor por el abuso de la policía y otros, seguiremos revelando sus verdaderas intenciones por medio de nuestra disciplina no violenta." data-english="Non-violence keeps our movement alive. It is our shield that reflects the true perpetrators of the state violence that our people suffer from daily. It is our strategy to bring light to the injustice that we suffer every day. We feel pain from the abuses of the police and others, and we will keep exposing their violence through our discipline.") La no violencia asegura que nuestro movimiento siga viviendo. Es nuestro escudo que muestra los verdaderos responsables de la violencia estatal de la cual nuestra gente sufre todos los días. Es nuestra estrategia para sacar a la luz la injusticia que sufrimos diariamente. Aunque sigamos sintiendo dolor por el abuso de la policía y otros, seguiremos revelando sus verdaderas intenciones por medio de nuestra disciplina no violenta.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal7.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="La tierra de nuestra cosecha son el respeto y la reciprocidad." data-english="The soil of our harvest is respect and reciprocity") La tierra de nuestra cosecha son el respeto y la reciprocidad.
						hr.star-primary
						h4.i18n(data-spanish="Principio 7" data-english="Principle 7") Principio 7

						p.i18n(data-spanish="La fundación de nuestro movimiento es la confianza de nuestros cosecheros. Trabajaremos todos los días para crear confianza, respeto y reciprocidad entre todos nosotros. Asumimos que todos los cosechadores tienen buenas intenciones y también reaccionamos de inmediato contra la falta de respeto. Usamos técnicas de procesos de manejo de conflictos para lidiar con conflicto de una manera saludable y que ayudará a crecer el movimiento. Basamos nuestro trabajo en diálogo, sanación y transformación colectiva. No toleraremos abusos o acciones que le falten el respeto a otros líderes u organizaciones del movimiento de los derechos de los inmigrantes." data-english="The ground on which this movement stands is on the relationships of its participants. We will work every day to build trust, respect and reciprocity among all of us. We assume all harvesters have good intentions and also react immediately against disrespect. We use conflict resolution techniques to deal with conflict in a healthy way that will bring growth to our movement. We ground our work in dialogue, healing, and collective transformation. We won’t tolerate shaming of each other and bullying towards the many organizations and leaders of the immigrant rights movement.") La fundación de nuestro movimiento es la confianza de nuestros cosecheros. Trabajaremos todos los días para crear confianza, respeto y reciprocidad entre todos nosotros. Asumimos que todos los cosechadores tienen buenas intenciones y también reaccionamos de inmediato contra la falta de respeto. Usamos técnicas de procesos de manejo de conflictos para lidiar con conflicto de una manera saludable y que ayudará a crecer el movimiento. Basamos nuestro trabajo en diálogo, sanación y transformación colectiva. No toleraremos abusos o acciones que le falten el respeto a otros líderes u organizaciones del movimiento de los derechos de los inmigrantes.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal8.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="Nuestras semillas vienen del árbol del sacrificio." data-english="Our seeds come from the tree of sacrifice.") Nuestras semillas vienen del árbol del sacrificio.
						hr.star-primary
						h4.i18n(data-spanish="Principio 8" data-english="Principle 8") Principio 8

						p.i18n(data-spanish="Honramos el trabajo duro de todas las personas que contribuyen sus regalos al movimiento. Creemos que el trabajo de la gente en Cosecha es para el bienestar colectivo de todos y no por ganancias personales o el avance de intereses personales. Mientras que la mayoría del trabajo en el movimiento no es financieramente recompensado, hay algunas posiciones que lideres en el movimiento pueden patrocinar para crear más apoyo para el movimiento. Esas posiciones no son un trabajo y serán recompensadas basado en sus necesidades. Es solo temporal y sólo apoyará al movimiento en momentos claves." data-english="We honor the hard work of all the people who bring their gifts to the movement. We believe that people’s work in Harvest is for the collective well-being of everyone and not for personal gain or to advance individual interests. While most of the work of the movement is not financially compensated, there are some positions that movement leaders can sponsor in order to create more support for the movement. Those positions will be compensated based on needs and not by a market employment rate. They are temporary and only meant to support the movement at key moments.") Honramos el trabajo duro de todas las personas que contribuyen sus regalos al movimiento. Creemos que el trabajo de la gente en Cosecha es para el bienestar colectivo de todos y no por ganancias personales o el avance de intereses personales. Mientras que la mayoría del trabajo en el movimiento no es financieramente recompensado, hay algunas posiciones que lideres en el movimiento pueden patrocinar para crear más apoyo para el movimiento. Esas posiciones no son un trabajo y serán recompensadas basado en sus necesidades. Es solo temporal y sólo apoyará al movimiento en momentos claves.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal9.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="Todo lo que necesitamos ya está en nuestra comunidades." data-english="All we need is already within our community now. ") Todo lo que necesitamos ya está en nuestra comunidades.
						hr.star-primary
						h4.i18n(data-spanish="Principio 9" data-english="Principle 9") Principio 9

						p.i18n(data-spanish="Sabemos que cuando recibimos GRAN cantidades de dinero es porque quieren controlar nuestro movimiento. Por eso siempre somos fundados independientemente. Sabemos que todos los recursos que necesitamos, incluyendo financieros, ya están en nuestras comunidades." data-english="We know that when we get BIG money it’s because they want to control our movement, that is why we are always self-sustaining. We know that all the resources we need, including financial, are already in our community.") Sabemos que cuando recibimos GRAN cantidades de dinero es porque quieren controlar nuestro movimiento. Por eso siempre somos fundados independientemente. Sabemos que todos los recursos que necesitamos, incluyendo financieros, ya están en nuestras comunidades.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal10.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="Puedes usar nuestros colores si sigues nuestros principios." data-english="You can wear our colors as long as you follow our principles.") Puedes usar nuestros colores si sigues nuestros principios.
						hr.star-primary
						h4.i18n(data-spanish="Principio 10" data-english="Principle 10") Principio 10

						p.i18n(data-spanish="Cualquier organización puede usar la bandera Cosecha si siguen nuestros principios. Cualquier persona puede unirse. Organizaciones formales (fuera de Cosecha) deben unirse a círculos de apoyo con otros cosecheros Cosecha si aceptan nuestra estrategia y la historia de nuestro movimiento. Ninguna organización formal puede pedir recursos en el nombre de Cosecha a menos que sean recursos que se distribuyeran a través de los pueblos Cosecha." data-english="Any organization can use the Harvest flag as long as they follow our principles. Anyone can join. Formal organizations (outside of Harvest) must join support circles with other Harvest activists as long they accept our strategy and story of the movement. No formal organization can request resources in the name of Harvest unless they are resources distributed among our villages") Cualquier organización puede usar la bandera Cosecha si siguen nuestros principios. Cualquier persona puede unirse. Organizaciones formales (fuera de Cosecha) deben unirse a círculos de apoyo con otros cosecheros Cosecha si aceptan nuestra estrategia y la historia de nuestro movimiento. Ninguna organización formal puede pedir recursos en el nombre de Cosecha a menos que sean recursos que se distribuyeran a través de los pueblos Cosecha.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal11.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="Una cosecha, varias frutas." data-english="One harvest, many fruits.") Una cosecha, varias frutas.
						hr.star-primary
						h4.i18n(data-spanish="Principio 11" data-english="Principle 11") Principio 11

						p.i18n(data-spanish="Hay miles de maneras de ser parte de la estrategia Cosecha. Animamos la autonomía y creatividad diaria para implementar el movimiento basado en las condiciones de nuestra gente. Al mismo tiempo, la unidad de nuestro movimiento depende en que todos los equipos colaboren y sigan nuestro gran acuerdo: nuestros principios Cosecha. Los principios de la Cosecha son las partituras del movimiento y los muchos instrumentos la creatividad de nuestros cosecheros." data-english="There are thousands of ways to be part of the Harvest strategy. We encourage daily autonomy and creativity in how to implement the movement based on people’s conditions. At the same time, our movement unity depends on all our teams working together and following our greatest agreement: our Harvest principles. The principles are the music score of our Harvest orchestra and all the instruments are the creativity of our activist.") Hay miles de maneras de ser parte de la estrategia Cosecha. Animamos la autonomía y creatividad diaria para implementar el movimiento basado en las condiciones de nuestra gente. Al mismo tiempo, la unidad de nuestro movimiento depende en que todos los equipos colaboren y sigan nuestro gran acuerdo: nuestros principios Cosecha. Los principios de la Cosecha son las partituras del movimiento y los muchos instrumentos la creatividad de nuestros cosecheros.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal12.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="Somos una de muchas cosechas." data-english="We are one of many harvests.") Somos una de muchas cosechas.
						hr.star-primary
						h4.i18n(data-spanish="Principio 12" data-english="Principle 12") Principio 12

						p.i18n(data-spanish="Sabemos que las injusticias de nuestra comunidad no pueden ser resueltas en un solo movimiento. Sabemos que los sistemas de dominación requieren múltiples ciclos de movimientos que están trabajando por décadas para traer reciprocidad y equilibrio a nuestras comunidades. Cosecha es solo una pieza de un rompecabezas más grande." data-english="We know the injustices of our community cannot be undone with just one movement. We know that the systems of domination require multiple cycles of movements that are working for many decades to bring reciprocity and balance to our communities. Harvest is just one piece of a larger justice puzzle.") Sabemos que las injusticias de nuestra comunidad no pueden ser resueltas en un solo movimiento. Sabemos que los sistemas de dominación requieren múltiples ciclos de movimientos que están trabajando por décadas para traer reciprocidad y equilibrio a nuestras comunidades. Cosecha es solo una pieza de un rompecabezas más grande.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal13.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="Este panal necesita todas sus abejas." data-english="This swarm needs all its bees.") Este panal necesita todas sus abejas.
						hr.star-primary
						h4.i18n(data-spanish="Principio 13" data-english="Principle 13") Principio 13

						p.i18n(data-spanish="Este movimiento nos necesita a todos. Mientras algunos están más enfocados en cuidar a nuestra comunidad, otros son llamados a ser voces proféticas para atraer más personas al movimiento. Todos tenemos diferentes llamados y papeles que queremos tomar. Nuestro espíritu de coordinación se une cuando afirmamos, “Si estás estancad@, zumbe”. Esto significa que si necesitas ayuda, pídela. Solo podemos ser un movimiento si nos apoyamos. También sabemos que cada persona es parte de varias organizaciones y que pueden salir y entrar en Cosecha y hacemos una distinción entre la participación de individuos y organizaciones." data-english="This movement will take all of us. While some of us are more focused on taking care of our community, others are more called to be prophetic voices to bring people into the movement. We all have different callings and roles that we want to take on. Our spirit of coordination comes together as we affirm, “If you’re stuck, buzz”. This means that if you need help, just ask for it. We can only be a movement if we support each other. We also know people are part of various organizations and that people can be in and out of Harvest and we make a distinction between the participation of individuals and organizations.") Este movimiento nos necesita a todos. Mientras algunos están más enfocados en cuidar a nuestra comunidad, otros son llamados a ser voces proféticas para atraer más personas al movimiento. Todos tenemos diferentes llamados y papeles que queremos tomar. Nuestro espíritu de coordinación se une cuando afirmamos, “Si estás estancad@, zumbe”. Esto significa que si necesitas ayuda, pídela. Solo podemos ser un movimiento si nos apoyamos. También sabemos que cada persona es parte de varias organizaciones y que pueden salir y entrar en Cosecha y hacemos una distinción entre la participación de individuos y organizaciones.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal14.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-spanish="Una injusticia en alguna parte es una amenaza a justicia en todas partes." data-english="An injustice somewhere is a threat to justice everywhere.") Una injusticia en alguna parte es una amenaza a justicia en todas partes.
						hr.star-primary
						h4.i18n(data-spanish="Principio 14" data-english="Principle 14") Principio 14

						p.i18n(data-spanish="Sabemos que la comunidad indocumentada no es la única enfrentando opresión y que este sistema de desigualdad ha estado pasando por mucho tiempo. Creemos que la misión de nuestro movimiento es ser activo en otros movimientos para la igualdad racial, económica y de géneros." data-english="We know the undocumented community is not the only one facing oppression and that this system of inequality has been going on for a long time. We believe that our movement’s mission is to be active in other movements for racial, gender and economic justice.") Sabemos que la comunidad indocumentada no es la única enfrentando opresión y que este sistema de desigualdad ha estado pasando por mucho tiempo. Creemos que la misión de nuestro movimiento es ser activo en otros movimientos para la igualdad racial, económica y de géneros.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
