section#principios.success
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-spanish="Principios de Cosecha" data-english="Cosecha Principles") Principios de Cosecha
		.row
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-01.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-02.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-03.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-04.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-05.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-06.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal7', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-07.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal8', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-08.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal9', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-09.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal10', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-10.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal11', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-11.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal12', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-12.jpg', alt='')
			.col-md-6.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal13', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-13.jpg', alt='')
			.col-md-6.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal14', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-14.jpg', alt='')


//========================================
//
//
//- ALL THE MODALS WILL GO HERE 
//
//
//========================================


#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 1
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 2
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 3
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 4
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 5
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 6
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal7.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 7
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal8.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 8
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal9.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 9
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal10.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 10
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal11.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 11
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal12.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 12
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal13.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 13
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal14.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Principio 14
						hr.star-primary
						img.img-responsive.img-centered(src='img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
