section#principios.gray
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-say="cosecha_principles")
		.row
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-01.jpg', alt='', data-src="img_principle_01")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-02.jpg', alt='', data-src="img_principle_02")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-03.jpg', alt='', data-src="img_principle_03")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-04.jpg', alt='', data-src="img_principle_04")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-05.jpg', alt='', data-src="img_principle_05")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-06.jpg', alt='', data-src="img_principle_06")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal7', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-07.jpg', alt='', data-src="img_principle_07")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal8', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-08.jpg', alt='', data-src="img_principle_08")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal9', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-09.jpg', alt='', data-src="img_principle_09")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal10', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-10.jpg', alt='', data-src="img_principle_10")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal11', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-11.jpg', alt='', data-src="img_principle_11")
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal12', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-12.jpg', alt='', data-src="img_principle_12")
			.col-md-6.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal13', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-13.jpg', alt='', data-src="img_principle_13")
			.col-md-6.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal14', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive.img-i18n(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-14.jpg', alt='', data-src="img_principle_14")


//========================================
//
//
//- ALL THE MODALS WILL GO HERE 
//
//
//========================================


#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_01_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 1 
						p.i18n(data-say="principle_01_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")
//

#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_02_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 2
						p.i18n(data-say="principle_02_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")

//
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_03_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 3 
						p.i18n(data-say="principle_03_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")

//

#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_04_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 4 
						p.i18n(data-say="principle_04_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")

//

#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_05_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 5 
						p.i18n(data-say="principle_05_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")
//

#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_06_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 6 
						p.i18n(data-say="principle_06_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")
//

#portfolioModal7.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_07_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 7 
						p.i18n(data-say="principle_07_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")
//

#portfolioModal8.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_08_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 8 
						p.i18n(data-say="principle_08_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")

//

#portfolioModal9.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_09_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 9 
						p.i18n(data-say="principle_09_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")

//

#portfolioModal10.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_10_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 10 
						p.i18n(data-say="principle_10_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")
//

#portfolioModal11.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_11_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 11
						p.i18n(data-say="principle_11_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")
//

#portfolioModal12.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_12_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 12 
						p.i18n(data-say="principle_12_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")
//

#portfolioModal13.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_13_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 13 
						p.i18n(data-say="principle_13_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")
//

#portfolioModal14.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2.i18n(data-say="principle_14_title")
						hr.star-primary
						h4
							span.i18n(data-say="principle")
							|  
							span 14 
						p.i18n(data-say="principle_14_body")
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times.i18n(data-say="close")
