section#principios.gray
	.container
		.row
			.col-lg-12.text-center
				h2.i18n(data-spanish="Principios de Cosecha" data-english="Cosecha Principles") Principios de Cosecha
		.row
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-01.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-02.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-03.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-04.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-05.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-06.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal7', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-07.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal8', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-08.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal9', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-09.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal10', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-10.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal11', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-11.jpg', alt='')
			.col-md-4.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal12', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-12.jpg', alt='')
			.col-md-6.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal13', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-13.jpg', alt='')
			.col-md-6.col-sm-6.img-principle.portfolio-item
				a.portfolio-link(href='#portfolioModal14', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='http://wiki.movimientocosecha.com/lib/exe/fetch.php/cosecha:principle-14.jpg', alt='')


//========================================
//
//
//- ALL THE MODALS WILL GO HERE 
//
//
//========================================


#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 El mono hace lo que el mono ve.
						hr.star-primary
						h4 Principio 1
						p Dirigimos a través de inspirar y sugerir, nunca por comandar. Nuestros líderes son solo sirvientes de confianza – no gobiernan. Todos tomamos iniciativa y respetamos la de los demás. No se trata de una idea, sino de muchas buenas ideas. Mientras continuamos a vivir o expresar nuestros valores del movimiento, recordamos que los principios vienen antes que las personalidades.
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Somos una familia sana.
						hr.star-primary
						h4 Principio 2

						p Este movimiento da la bienvenida a todos de diferentes países, etnicidades, géneros, orientaciones sexuales, y creencias religiosas y espirituales. Sabemos que la sabiduría de nuestro movimiento viene de las voces que son mas calladas. Como el idioma dominante puede tomar el control del espacio y callar a la gente que no se siente cómoda con las palabras, tenemos la “regla multilingual” que se trata de abrir cada espacio a múltiples idiomas. Operamos en los idiomas que le vienen más fácil a la comunidad.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Esta fiesta no requiere entrada.
						hr.star-primary
						h4 Principio 3
						p No necesitas permiso para participar en este movimiento. Esto se convierte en una realidad cuando nos fijamos en cómo la “regla de 3 activistas” funciona. La regla dice que cuando 3 personas deciden hacerse activistas en Cosecha, pueden formar un círculo y recibir apoyo completo del movimiento. Tomamos nuestras propias decisiones en nuestros círculos y escogemos participar en las actividades del movimiento que nos emocionan más. Podemos hacer fiesta juntos si seguimos los principios de nuestra Cosecha. No hay código de vestuario para esta fiesta. Nuestro movimiento necesita músicos, artistas, danzantes, creativ@s, madres, hijas, trabajadoras, intelectuales de la calle, poetas, académicos, estudiantes, etc. Animamos tomar riesgos porque la diversidad de nuestra creatividad nos ayudará a encontrar las estrategias, herramientas, acciones y maneras más efectivas de viralizar nuestro movimiento. (Promoción para acciones, atracción para capacitaciones y absorción para unidad.)

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 No bailamos con los partidos políticos.
						hr.star-primary
						h4 Principio 4
						p Estamos cansados de las promesas rotas por parte de los partidos políticos. Quieren nuestros numeros de telefono para sus elecciones, pero nunca nos llaman después de que son elegidos. Nuestro trabajo está en la calle y con la gente — no estamos enfocados en los políticos. Nuestro objetivo es mover el pueblo — solo nos involucramos con políticos y sus apoyadores para hacerles tomar unas vacaciones de su partido. No tenemos representantes o defensores — hablamos por nosotros mismos. Si la clase política (presidente y el congreso) hace una promesa de una ley que garantiza protección permanente, nosotros usaremos la regla de los 60 días, se darán conferencias de prensa en todo el país anunciando esta venta de 60 días para que hagan lo que prometieron, en la fecha del dia 60 si las promesas no han sido cumplidas se resumirá la estrategia de Cosecha, se usarán esos 60 días para prepararnos para darles con más fuerza.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Nuestra arma es la no cooperación.
						hr.star-primary
						h4 Principio 5
						p Sabemos que nuestro poder está arraigado en no cooperar en los presentes sistemas políticos, sociales y económicos. Sin manos de obra, no hay labor: no cooperaremos hasta que este país reconozca que depende de nosotr@s.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Nuestro escudo es la no violencia.
						hr.star-primary
						h4 Principio 6

						p La no violencia asegura que nuestro movimiento siga viviendo. Es nuestro escudo que muestra los verdaderos responsables de la violencia estatal de la cual nuestra gente sufre todos los días. Es nuestra estrategia para sacar a la luz la injusticia que sufrimos diariamente. Aunque sigamos sintiendo dolor por el abuso de la policía y otros, seguiremos revelando sus verdaderas intenciones por medio de nuestra disciplina no violenta.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal7.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 La tierra de nuestra cosecha son el respeto y la reciprocidad.
						hr.star-primary
						h4 Principio 7

						p La fundación de nuestro movimiento es la confianza de nuestros cosecheros. Trabajaremos todos los días para crear confianza, respeto y reciprocidad entre todos nosotros. Asumimos que todos los cosechadores tienen buenas intenciones y también reaccionamos de inmediato contra la falta de respeto. Usamos técnicas de procesos de manejo de conflictos para lidiar con conflicto de una manera saludable y que ayudará a crecer el movimiento. Basamos nuestro trabajo en diálogo, sanación y transformación colectiva. No toleraremos abusos o acciones que le falten el respeto a otros líderes u organizaciones del movimiento de los derechos de los inmigrantes.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal8.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Nuestras semillas vienen del árbol del sacrificio.
						hr.star-primary
						h4 Principio 8

						p Honramos el trabajo duro de todas las personas que contribuyen sus regalos al movimiento. Creemos que el trabajo de la gente en Cosecha es para el bienestar colectivo de todos y no por ganancias personales o el avance de intereses personales. Mientras que la mayoría del trabajo en el movimiento no es financieramente recompensado, hay algunas posiciones que lideres en el movimiento pueden patrocinar para crear más apoyo para el movimiento. Esas posiciones no son un trabajo y serán recompensadas basado en sus necesidades. Es solo temporal y sólo apoyará al movimiento en momentos claves.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal9.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Todo lo que necesitamos ya está en nuestra comunidades.
						hr.star-primary
						h4 Principio 9

						p Sabemos que cuando recibimos GRAN cantidades de dinero es porque quieren controlar nuestro movimiento. Por eso siempre somos fundados independientemente. Sabemos que todos los recursos que necesitamos, incluyendo financieros, ya están en nuestras comunidades.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal10.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Puedes usar nuestros colores si sigues nuestros principios.
						hr.star-primary
						h4 Principio 10

						p Cualquier organización puede usar la bandera Cosecha si siguen nuestros principios. Cualquier persona puede unirse. Organizaciones formales (fuera de Cosecha) deben unirse a círculos de apoyo con otros cosecheros Cosecha si aceptan nuestra estrategia y la historia de nuestro movimiento. Ninguna organización formal puede pedir recursos en el nombre de Cosecha a menos que sean recursos que se distribuyeran a través de los pueblos Cosecha.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal11.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Una cosecha, varias frutas.
						hr.star-primary
						h4 Principio 11

						p Hay miles de maneras de ser parte de la estrategia Cosecha. Animamos la autonomía y creatividad diaria para implementar el movimiento basado en las condiciones de nuestra gente. Al mismo tiempo, la unidad de nuestro movimiento depende en que todos los equipos colaboren y sigan nuestro gran acuerdo: nuestros principios Cosecha. Los principios de la Cosecha son las partituras del movimiento y los muchos instrumentos la creatividad de nuestros cosecheros.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal12.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Somos una de muchas cosechas.
						hr.star-primary
						h4 Principio 12

						p Sabemos que las injusticias de nuestra comunidad no pueden ser resueltas en un solo movimiento. Sabemos que los sistemas de dominación requieren múltiples ciclos de movimientos que están trabajando por décadas para traer reciprocidad y equilibrio a nuestras comunidades. Cosecha es solo una pieza de un rompecabezas más grande.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close

//

#portfolioModal13.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Este panal necesita todas sus abejas.
						hr.star-primary
						h4 Principio 13

						p Este movimiento nos necesita a todos. Mientras algunos están más enfocados en cuidar a nuestra comunidad, otros son llamados a ser voces proféticas para atraer más personas al movimiento. Todos tenemos diferentes llamados y papeles que queremos tomar. Nuestro espíritu de coordinación se une cuando afirmamos, “Si estás estancad@, zumbe”. Esto significa que si necesitas ayuda, pídela. Solo podemos ser un movimiento si nos apoyamos. También sabemos que cada persona es parte de varias organizaciones y que pueden salir y entrar en Cosecha y hacemos una distinción entre la participación de individuos y organizaciones.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
//

#portfolioModal14.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Una injusticia en alguna parte es una amenaza a justicia en todas partes.
						hr.star-primary
						h4 Principio 14

						p Sabemos que la comunidad indocumentada no es la única enfrentando opresión y que este sistema de desigualdad ha estado pasando por mucho tiempo. Creemos que la misión de nuestro movimiento es ser activo en otros movimientos para la igualdad racial, económica y de géneros.

						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
